In [1]:
import pandas as pd
import numpy as np

In [61]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 45.3 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
tumors_oslo = pd.read_csv('/data/projects/TMOR/num_tumors_oslo.csv')
tumors_standford = pd.read_csv('/data/projects/TMOR/num_tumors_standford.csv')
oslo = pd.read_csv("/data/projects/TMOR/OsloMetsDemographics.csv")
standford = pd.read_csv("/data/projects/TMOR/stanford_labels.csv")

In [3]:
tumors_oslo

   SubjectNumber  Number_tumors
0      Subject01              2
1      Subject02              6
2      Subject03              4
3      Subject04              1
4      Subject05              2
..           ...            ...
62     Subject63              4
63     Subject64              2
64     Subject65              4
65     Subject66              1
66     Subject67              3

[67 rows x 2 columns]

In [4]:
oslo

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs
0,Subject01,NaN,Male,58.0,mal.mel,2,NaN,"WB, SRS",2.0
1,Subject02,NaN,Female,50.0,ca.pulm,7,NaN,WB,6.0
2,Subject03,NaN,Male,64.0,mal.mel,4,NaN,"WB,SRS",4.0
3,Subject04,NaN,Male,56.0,mal.mel,1,NaN,No,1.0
4,Subject05,NaN,Female,54.0,mal.mel,1,?,"SRS,PO",2.0
...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,ROI complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,Missing ROI outside VAI slab,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,Missing all ROIs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,Yet to be included,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
oslo.iloc[:66]

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs
0,Subject01,NaN,Male,58.0,mal.mel,2,NaN,"WB, SRS",2.0
1,Subject02,NaN,Female,50.0,ca.pulm,7,NaN,WB,6.0
2,Subject03,NaN,Male,64.0,mal.mel,4,NaN,"WB,SRS",4.0
3,Subject04,NaN,Male,56.0,mal.mel,1,NaN,No,1.0
4,Subject05,NaN,Female,54.0,mal.mel,1,?,"SRS,PO",2.0
...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,ca.pulm,?,NaN,NaN,1.0
62,Subject63,NaN,Male,32.0,mal.mel,?,NaN,NaN,4.0
63,Subject64,NaN,Female,63.0,ca.pulm,?,NaN,NaN,2.0
64,Subject65,NaN,Female,65.0,ca.pulm,?,NaN,NaN,4.0
65,Subject66,NaN,Female,78.0,mal.mel,?,NaN,NaN,1.0

In [6]:
oslo = oslo.iloc[:66]

In [7]:
oslo = pd.merge(oslo, tumors_oslo, how="left", on=["SubjectNumber"])

In [8]:
oslo

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs,Number_tumors
0,Subject01,NaN,Male,58.0,mal.mel,2,NaN,"WB, SRS",2.0,2.0
1,Subject02,NaN,Female,50.0,ca.pulm,7,NaN,WB,6.0,6.0
2,Subject03,NaN,Male,64.0,mal.mel,4,NaN,"WB,SRS",4.0,4.0
3,Subject04,NaN,Male,56.0,mal.mel,1,NaN,No,1.0,1.0
4,Subject05,NaN,Female,54.0,mal.mel,1,?,"SRS,PO",2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,ca.pulm,?,NaN,NaN,1.0,1.0
62,Subject63,NaN,Male,32.0,mal.mel,?,NaN,NaN,4.0,4.0
63,Subject64,NaN,Female,63.0,ca.pulm,?,NaN,NaN,2.0,2.0
64,Subject65,NaN,Female,65.0,ca.pulm,?,NaN,NaN,4.0,4.0
65,Subject66,NaN,Female,78.0,mal.mel,?,NaN,NaN,1.0,1.0

In [9]:
tumors_standford

     Patient_ID  Number_tumors
0             5              3
1             9             13
2            10              3
3            11              3
4            13              2
..          ...            ...
151         321              5
152         323             23
153         326              1
154         328             16
155         338              4

[156 rows x 2 columns]

In [10]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number of tumors
0,5,GE,"1,5",74,M,NSCLC,3
1,9,GE,3,29,F,breast ca,13
2,10,GE,3,69,F,NSCLC,3
3,11,GE,"1,5",36,F,breast ca,3
4,13,GE,3,56,F,NSCLC,2
...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,Number of tumors
152,323,NaN,NaN,72,M,non small cell lung carcinoma,Number of tumors
153,326,NaN,NaN,50,M,breast cancer,Number of tumors
154,328,NaN,NaN,53,M,lung cancer,Number of tumors
155,338,NaN,NaN,42,F,lung cancer,Number of tumors

In [11]:
standford = pd.merge(standford, tumors_standford, how="left", on=["Patient_ID"])
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number of tumors,Number_tumors
0,5,GE,"1,5",74,M,NSCLC,3,3
1,9,GE,3,29,F,breast ca,13,13
2,10,GE,3,69,F,NSCLC,3,3
3,11,GE,"1,5",36,F,breast ca,3,3
4,13,GE,3,56,F,NSCLC,2,2
...,...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,Number of tumors,5
152,323,NaN,NaN,72,M,non small cell lung carcinoma,Number of tumors,23
153,326,NaN,NaN,50,M,breast cancer,Number of tumors,1
154,328,NaN,NaN,53,M,lung cancer,Number of tumors,16
155,338,NaN,NaN,42,F,lung cancer,Number of tumors,4

## Clean Standford dataset

In [12]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number of tumors,Number_tumors
0,5,GE,"1,5",74,M,NSCLC,3,3
1,9,GE,3,29,F,breast ca,13,13
2,10,GE,3,69,F,NSCLC,3,3
3,11,GE,"1,5",36,F,breast ca,3,3
4,13,GE,3,56,F,NSCLC,2,2
...,...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,Number of tumors,5
152,323,NaN,NaN,72,M,non small cell lung carcinoma,Number of tumors,23
153,326,NaN,NaN,50,M,breast cancer,Number of tumors,1
154,328,NaN,NaN,53,M,lung cancer,Number of tumors,16
155,338,NaN,NaN,42,F,lung cancer,Number of tumors,4

In [13]:
standford = standford.drop('Number of tumors', axis = 1)

In [14]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors
0,5,GE,"1,5",74,M,NSCLC,3
1,9,GE,3,29,F,breast ca,13
2,10,GE,3,69,F,NSCLC,3
3,11,GE,"1,5",36,F,breast ca,3
4,13,GE,3,56,F,NSCLC,2
...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5
152,323,NaN,NaN,72,M,non small cell lung carcinoma,23
153,326,NaN,NaN,50,M,breast cancer,1
154,328,NaN,NaN,53,M,lung cancer,16
155,338,NaN,NaN,42,F,lung cancer,4

In [15]:
standford.dtypes

Patient_ID                             int64
Scanner Type (GE, Emeryville, AMC)    object
Scanner Strength (T)                  object
Age                                    int64
Sex                                   object
Primary cancer type                   object
Number_tumors                          int64
dtype: object

In [16]:
standford.loc[standford['Primary cancer type'] == 'breast ca', 'Primary cancer type'] = 'breast_cancer'
standford.loc[standford['Primary cancer type'] == 'Breast ca', 'Primary cancer type'] = 'breast_cancer'
standford.loc[standford['Primary cancer type'] == 'small cell lung cancer', 'Primary cancer type'] = 'SCLC'
standford.loc[standford['Primary cancer type'] == 'squamous cell lung cancer', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'breast cancer', 'Primary cancer type'] = 'breast_cancer'
standford.loc[standford['Primary cancer type'] == 'Melanoma', 'Primary cancer type'] = 'melanoma'
standford.loc[standford['Primary cancer type'] == 'kidney ca', 'Primary cancer type'] = 'kidney'
standford.loc[standford['Primary cancer type'] == 'lung adenocarcinoma', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'Lung adenocarcinoma', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'uterine cancer', 'Primary cancer type'] = 'uterus'
standford.loc[standford['Primary cancer type'] == 'metastatic melanoma', 'Primary cancer type'] = 'melanoma'
standford.loc[standford['Primary cancer type'] == 'brain metastatic lesions', 'Primary cancer type'] = 'brain'
standford.loc[standford['Primary cancer type'] == 'metastatic NSCLC', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'brain metastases', 'Primary cancer type'] = 'brain'
standford.loc[standford['Primary cancer type'] == 'brain metastastic lesions', 'Primary cancer type'] = 'brain'
standford.loc[standford['Primary cancer type'] == 'brain metastatic lesions', 'Primary cancer type'] = 'brain'
standford.loc[standford['Primary cancer type'] == 'metastatic lung cancer', 'Primary cancer type'] = 'lung_cancer'
standford.loc[standford['Primary cancer type'] == 'lung cancer', 'Primary cancer type'] = 'lung_cancer'
standford.loc[standford['Primary cancer type'] == 'metastatic breast cancer', 'Primary cancer type'] = 'breast_cancer'
standford.loc[standford['Primary cancer type'] == 'non small cell lung carcinoma', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'Colon ca', 'Primary cancer type'] = 'colon'
standford.loc[standford['Primary cancer type'] == 'scc lungs', 'Primary cancer type'] = 'NSCLC'
standford.loc[standford['Primary cancer type'] == 'intercranial lung mets', 'Primary cancer type'] = 'lung_cancer'
standford.loc[standford['Primary cancer type'] == 'frontal lobe lung metastases', 'Primary cancer type'] = 'lung_cancer'
standford.loc[standford['Primary cancer type'] == 'squamous cell carcinoma of lung', 'Primary cancer type'] = 'lung_cancer'
standford.loc[standford['Primary cancer type'] == 'breast_cancer', 'Primary cancer type'] = 'breast'
standford.loc[standford['Primary cancer type'] == 'f/u multiple brain metastases', 'Primary cancer type'] = 'brain'
standford.loc[standford['Primary cancer type'] == 'lung_cancer', 'Primary cancer type'] = 'lung'
standford.loc[standford['Primary cancer type'] == 'NSCLC', 'Primary cancer type'] = 'lung'
standford.loc[standford['Primary cancer type'] == 'SCLC', 'Primary cancer type'] = 'lung'

In [17]:
pene = standford[standford['Primary cancer type'] == 'lung adenocarcinoma and sacral metastases']

In [18]:
pene['Primary cancer type']

109    lung adenocarcinoma and sacral metastases
Name: Primary cancer type, dtype: object

In [19]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors
0,5,GE,"1,5",74,M,lung,3
1,9,GE,3,29,F,breast,13
2,10,GE,3,69,F,lung,3
3,11,GE,"1,5",36,F,breast,3
4,13,GE,3,56,F,lung,2
...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5
152,323,NaN,NaN,72,M,lung,23
153,326,NaN,NaN,50,M,breast,1
154,328,NaN,NaN,53,M,lung,16
155,338,NaN,NaN,42,F,lung,4

In [20]:
brain = standford[standford['Primary cancer type'] == 'brain']
brain

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors
94,187,NaN,NaN,86,F,brain,61
97,196,NaN,NaN,77,F,brain,4
107,235,NaN,NaN,85,M,brain,4
118,256,NaN,NaN,65,F,brain,3
123,271,NaN,NaN,46,F,brain,17
140,306,NaN,NaN,65,M,brain,1

## create a new column with the same labels

In [21]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors
0,5,GE,"1,5",74,M,lung,3
1,9,GE,3,29,F,breast,13
2,10,GE,3,69,F,lung,3
3,11,GE,"1,5",36,F,breast,3
4,13,GE,3,56,F,lung,2
...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5
152,323,NaN,NaN,72,M,lung,23
153,326,NaN,NaN,50,M,breast,1
154,328,NaN,NaN,53,M,lung,16
155,338,NaN,NaN,42,F,lung,4

In [22]:
import pandas as pd

# Create a list of values to check for
cancer_list = ['breast', 'lung', 'melanoma']

# Define a function to create the labels column
def create_labels(row):
    if row['Primary cancer type'] in cancer_list:
        return row['Primary cancer type']
    else:
        return 'other'

# Apply the function to create the labels column
standford['labels'] = standford.apply(create_labels, axis=1)

In [23]:
standford

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors,labels
0,5,GE,"1,5",74,M,lung,3,lung
1,9,GE,3,29,F,breast,13,breast
2,10,GE,3,69,F,lung,3,lung
3,11,GE,"1,5",36,F,breast,3,breast
4,13,GE,3,56,F,lung,2,lung
...,...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5,other
152,323,NaN,NaN,72,M,lung,23,lung
153,326,NaN,NaN,50,M,breast,1,breast
154,328,NaN,NaN,53,M,lung,16,lung
155,338,NaN,NaN,42,F,lung,4,lung

In [38]:
standford_dummy = pd.get_dummies(standford, columns=['labels'])
standford_dummy['labels_breast'] = standford_dummy['labels_breast'].astype(int)
standford_dummy['labels_lung'] = standford_dummy['labels_lung'].astype(int)
standford_dummy['labels_melanoma'] = standford_dummy['labels_melanoma'].astype(int)
standford_dummy['labels_other'] = standford_dummy['labels_other'].astype(int)

standford_dummy = standford_dummy.rename(columns={'labels_other': 'other', 'labels_melanoma': 'melanoma', 'labels_lung': 'lung', 'labels_breast': 'breast'})
standford_dummy

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors,breast,lung,melanoma,other
0,5,GE,"1,5",74,M,lung,3,0,1,0,0
1,9,GE,3,29,F,breast,13,1,0,0,0
2,10,GE,3,69,F,lung,3,0,1,0,0
3,11,GE,"1,5",36,F,breast,3,1,0,0,0
4,13,GE,3,56,F,lung,2,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5,0,0,0,1
152,323,NaN,NaN,72,M,lung,23,0,1,0,0
153,326,NaN,NaN,50,M,breast,1,1,0,0,0
154,328,NaN,NaN,53,M,lung,16,0,1,0,0
155,338,NaN,NaN,42,F,lung,4,0,1,0,0

In [65]:
standford_dummy

,Patient_ID,"Scanner Type (GE, Emeryville, AMC)",Scanner Strength (T),Age,Sex,Primary cancer type,Number_tumors,breast,lung,melanoma,other
0,5,GE,"1,5",74,M,lung,3,0,1,0,0
1,9,GE,3,29,F,breast,13,1,0,0,0
2,10,GE,3,69,F,lung,3,0,1,0,0
3,11,GE,"1,5",36,F,breast,3,1,0,0,0
4,13,GE,3,56,F,lung,2,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
151,321,NaN,NaN,56,M,calvarial metastases,5,0,0,0,1
152,323,NaN,NaN,72,M,lung,23,0,1,0,0
153,326,NaN,NaN,50,M,breast,1,1,0,0,0
154,328,NaN,NaN,53,M,lung,16,0,1,0,0
155,338,NaN,NaN,42,F,lung,4,0,1,0,0

## clean the oslo dataset

In [40]:
oslo.dtypes

SubjectNumber     object
StudyID           object
Gender            object
Age              float64
PrimaryCancer     object
# mets            object
ROI status        object
Pre treatment     object
Number of BMs    float64
Number_tumors    float64
dtype: object

In [41]:
oslo

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs,Number_tumors
0,Subject01,NaN,Male,58.0,mal.mel,2,NaN,"WB, SRS",2.0,2.0
1,Subject02,NaN,Female,50.0,ca.pulm,7,NaN,WB,6.0,6.0
2,Subject03,NaN,Male,64.0,mal.mel,4,NaN,"WB,SRS",4.0,4.0
3,Subject04,NaN,Male,56.0,mal.mel,1,NaN,No,1.0,1.0
4,Subject05,NaN,Female,54.0,mal.mel,1,?,"SRS,PO",2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,ca.pulm,?,NaN,NaN,1.0,1.0
62,Subject63,NaN,Male,32.0,mal.mel,?,NaN,NaN,4.0,4.0
63,Subject64,NaN,Female,63.0,ca.pulm,?,NaN,NaN,2.0,2.0
64,Subject65,NaN,Female,65.0,ca.pulm,?,NaN,NaN,4.0,4.0
65,Subject66,NaN,Female,78.0,mal.mel,?,NaN,NaN,1.0,1.0

In [46]:
oslo['Number of BMs'] == oslo['Number_tumors']
#here we can observe that for patients/subjects 57 and 58, Number_tumors column contains NaN therefore we will be using the Number of BMs column

0     True
1     True
2     True
3     True
4     True
      ...
61    True
62    True
63    True
64    True
65    True
Length: 66, dtype: bool

In [47]:
oslo = oslo.drop('Number_tumors', axis=1)

In [50]:
oslo[oslo['PrimaryCancer'] == 'ca.pulm']

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs
1,Subject02,NaN,Female,50.0,ca.pulm,7,NaN,WB,6.0
5,Subject06,NaN,Female,73.0,ca.pulm,1,NaN,No,1.0
8,Subject09,NaN,Male,61.0,ca.pulm,2,NaN,No,2.0
9,Subject10,NaN,Male,59.0,ca.pulm,1,NaN,No,1.0
10,Subject11,NaN,Male,61.0,ca.pulm,1,NaN,No,1.0
12,Subject13,NaN,Female,57.0,ca.pulm,1,NaN,No,1.0
15,Subject16,NaN,Female,83.0,ca.pulm,2?,NaN,No,2.0
17,Subject18,NaN,Male,54.0,ca.pulm,3,NaN,No,3.0
18,Subject19,NaN,Female,74.0,ca.pulm,1,NaN,No,1.0
19,Subject20,NaN,Female,66.0,ca.pulm,2?,NaN,No,2.0
20,Subject21,NaN,Female,80.0,ca.pulm,1,NaN,No,1.0
21,Subject22,NaN,Male,73.0,ca.pulm,1,NaN,PO,1.0
22,Subject23,NaN,Female,62.0,ca.pulm,1,NaN,"WB,PO",1.0
23,Subject24,NaN,Female,67.0,ca.pulm,2,NaN,SRS,2.0
24,Subject25,NaN,Male,64.0,ca.pulm,10,NaN,No,12.0
25,Subject26,NaN,Female,71.0,ca.pulm,2,NaN,SRS,2.0
28,Subject29,NaN,Female,69.0,ca.pulm,2,NaN,No,2.0
30,Subject31,NaN,Female,61.0,ca.pulm,2?,NaN,No,3.0
31,Subject32,NaN,Female,71.0,ca.pulm,?,NaN,No,3.0
32,Subject33,NaN,Female,55.0,ca.pulm,?,NaN,No,3.0
33,Subject34,NaN,Female,64.0,ca.pulm,?,NaN,No,3.0
34,Subject35,NaN,Female,64.0,ca.pulm,?,NaN,No,3.0
35,Subject36,NaN,Female,78.0,ca.pulm,1?,NaN,No,1.0
36,Subject37,NaN,Male,65.0,ca.pulm,?,NaN,SRS,2.0
37,Subject38,NaN,Male,69.0,ca.pulm,?,NaN,No,3.0
38,Subject39,NaN,Female,71.0,ca.pulm,1?,NaN,No,1.0
40,Subject41,NaN,Male,74.0,ca.pulm,3?,NaN,No,3.0
41,Subject42,NaN,Male,70.0,ca.pulm,?,NaN,No,3.0
42,Subject43,NaN,Male,64.0,ca.pulm,3?,NaN,No,5.0
43,Subject44,NaN,Male,82.0,ca.pulm,1?,NaN,No,1.0
44,Subject45,NaN,Female,44.0,ca.pulm,3?,NaN,No,5.0
45,Subject46,NaN,Female,74.0,ca.pulm,3?,NaN,No,3.0
46,Subject47,NaN,Male,79.0,ca.pulm,1?,NaN,No,1.0
47,Subject48,NaN,Female,63.0,ca.pulm,3?,NaN,WB,3.0
50,Subject51,NaN,Female,64.0,ca.pulm,2?,NaN,SRS,2.0
51,Subject52,NaN,Male,66.0,ca.pulm,4?,NaN,No,4.0
54,Subject55,NaN,Male,66.0,ca.pulm,3?,NaN,No,3.0
55,Subject56,NaN,Male,65.0,ca.pulm,?,NaN,NaN,1.0
56,Subject57,NaN,Female,52.0,ca.pulm,?,NaN,NaN,1.0
57,Subject58,NaN,Male,74.0,ca.pulm,?,NaN,NaN,1.0
58,Subject59,NaN,Male,66.0,ca.pulm,?,NaN,NaN,1.0
59,Subject60,NaN,Male,70.0,ca.pulm,?,NaN,NaN,1.0
61,Subject62,NaN,Male,77.0,ca.pulm,?,NaN,NaN,1.0
63,Subject64,NaN,Female,63.0,ca.pulm,?,NaN,NaN,2.0
64,Subject65,NaN,Female,65.0,ca.pulm,?,NaN,NaN,4.0

In [52]:
oslo.loc[oslo['PrimaryCancer'] == 'mal.mel', 'PrimaryCancer'] = 'melanoma'
oslo.loc[oslo['PrimaryCancer'] == 'ca.pulm', 'PrimaryCancer'] = 'lung'
oslo

,SubjectNumber,StudyID,Gender,Age,PrimaryCancer,# mets,ROI status,Pre treatment,Number of BMs
0,Subject01,NaN,Male,58.0,melanoma,2,NaN,"WB, SRS",2.0
1,Subject02,NaN,Female,50.0,lung,7,NaN,WB,6.0
2,Subject03,NaN,Male,64.0,melanoma,4,NaN,"WB,SRS",4.0
3,Subject04,NaN,Male,56.0,melanoma,1,NaN,No,1.0
4,Subject05,NaN,Female,54.0,melanoma,1,?,"SRS,PO",2.0
...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,lung,?,NaN,NaN,1.0
62,Subject63,NaN,Male,32.0,melanoma,?,NaN,NaN,4.0
63,Subject64,NaN,Female,63.0,lung,?,NaN,NaN,2.0
64,Subject65,NaN,Female,65.0,lung,?,NaN,NaN,4.0
65,Subject66,NaN,Female,78.0,melanoma,?,NaN,NaN,1.0

In [53]:
oslo = pd.get_dummies(oslo, columns=['PrimaryCancer'])

In [54]:
oslo

,SubjectNumber,StudyID,Gender,Age,# mets,ROI status,Pre treatment,Number of BMs,PrimaryCancer_lung,PrimaryCancer_melanoma
0,Subject01,NaN,Male,58.0,2,NaN,"WB, SRS",2.0,False,True
1,Subject02,NaN,Female,50.0,7,NaN,WB,6.0,True,False
2,Subject03,NaN,Male,64.0,4,NaN,"WB,SRS",4.0,False,True
3,Subject04,NaN,Male,56.0,1,NaN,No,1.0,False,True
4,Subject05,NaN,Female,54.0,1,?,"SRS,PO",2.0,False,True
...,...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,?,NaN,NaN,1.0,True,False
62,Subject63,NaN,Male,32.0,?,NaN,NaN,4.0,False,True
63,Subject64,NaN,Female,63.0,?,NaN,NaN,2.0,True,False
64,Subject65,NaN,Female,65.0,?,NaN,NaN,4.0,True,False
65,Subject66,NaN,Female,78.0,?,NaN,NaN,1.0,False,True

In [55]:
oslo['PrimaryCancer_lung'] = oslo['PrimaryCancer_lung'].astype(int)
oslo['PrimaryCancer_melanoma'] = oslo['PrimaryCancer_melanoma'].astype(int)
oslo

,SubjectNumber,StudyID,Gender,Age,# mets,ROI status,Pre treatment,Number of BMs,PrimaryCancer_lung,PrimaryCancer_melanoma
0,Subject01,NaN,Male,58.0,2,NaN,"WB, SRS",2.0,0,1
1,Subject02,NaN,Female,50.0,7,NaN,WB,6.0,1,0
2,Subject03,NaN,Male,64.0,4,NaN,"WB,SRS",4.0,0,1
3,Subject04,NaN,Male,56.0,1,NaN,No,1.0,0,1
4,Subject05,NaN,Female,54.0,1,?,"SRS,PO",2.0,0,1
...,...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,?,NaN,NaN,1.0,1,0
62,Subject63,NaN,Male,32.0,?,NaN,NaN,4.0,0,1
63,Subject64,NaN,Female,63.0,?,NaN,NaN,2.0,1,0
64,Subject65,NaN,Female,65.0,?,NaN,NaN,4.0,1,0
65,Subject66,NaN,Female,78.0,?,NaN,NaN,1.0,0,1

In [56]:
oslo = oslo.rename(columns={'PrimaryCancer_melanoma': 'melanoma', 'PrimaryCancer_lung': 'lung'})

In [63]:
oslo

,SubjectNumber,StudyID,Gender,Age,# mets,ROI status,Pre treatment,Number of BMs,lung,melanoma
0,Subject01,NaN,Male,58.0,2,NaN,"WB, SRS",2.0,0,1
1,Subject02,NaN,Female,50.0,7,NaN,WB,6.0,1,0
2,Subject03,NaN,Male,64.0,4,NaN,"WB,SRS",4.0,0,1
3,Subject04,NaN,Male,56.0,1,NaN,No,1.0,0,1
4,Subject05,NaN,Female,54.0,1,?,"SRS,PO",2.0,0,1
...,...,...,...,...,...,...,...,...,...,...
61,Subject62,NaN,Male,77.0,?,NaN,NaN,1.0,1,0
62,Subject63,NaN,Male,32.0,?,NaN,NaN,4.0,0,1
63,Subject64,NaN,Female,63.0,?,NaN,NaN,2.0,1,0
64,Subject65,NaN,Female,65.0,?,NaN,NaN,4.0,1,0
65,Subject66,NaN,Female,78.0,?,NaN,NaN,1.0,0,1

## Downloaded this dataframe to a xlsx format, remanes as labels_oslo so later I can open it and join it with the radiomic features by the patient number